@import url('https://fonts.googleapis.com/css?family=Lato|Karla');

body, html {
    font-family: "Karla";
}

/* HERO */

#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(https://static.pexels.com/photos/192136/pexels-photo-192136.jpeg);
    background-position: center center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero-modal {
    background: #FBF5F3;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    width: 80%;
    height: 70%;
    margin: 0 auto;
    padding: 0;
}

#hero-col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
}

#hero-col2 {
    border-top: 3vh solid #FBF5F3;
    border-bottom: 3vh solid #FBF5F3;
    border-right: 3vh solid #FBF5F3;
    height: 100%;
    background: url(https://static.pexels.com/photos/192136/pexels-photo-192136.jpeg);
    background-size: cover;
    background-position: center center;   
}

@media (max-width: 799px) {
    #hero-col2 {
        display: none;
    }
}

#scroll-prompt {
	text-decoration: none;
    font-size: 3vh;
    color: rgba(0, 0, 0, 0.75);
}

#scroll-prompt:hover #scroll-icon {
    text-decoration: none;
}

#scroll-icon {
    font-size: 7vh;
}

