/*
 * CONTACT ME
 */

textarea { resize: none; }
#contact input, #contact textarea { background-color: #F2EFEA; }
.form-control:focus { box-shadow: none; border-color: #ff3a3a; }
#contact { border: 1rem solid transparent; }

.form-control {
	border-radius: 0;
	border-color: rgba(0, 0, 0, 0.8);
   	border-width: 0 0 1px 0;
   	border-style: none none solid none;
   	box-shadow: none;
}

#contact .btn {
    font-size: 1rem;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
