#hero {
    padding: 50px 15px;
    height: 100%;
    width: 100%;
    background: #111;
}

#hero h1, #hero a, #hero h5 {
    color: #fff;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 768px) {
    #hero { padding: 70px 60px;}
}

#social-links {
    list-style: none;
}

#social-links a {
    color: #fff;
    padding: 4px;
    letter-spacing: normal;
    transition: background-color 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    line-height: 1rem;
    display: inline-block;
    font-size: 1.2rem;
    font-style: italic;
}

#social-links a:hover {
    text-decoration: none;
    background-color: #bc2929;
}

#main-bg #borders * {
    background-color: #111;
}
