/*
 * GLOBAL
 */

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

/*
 * anims
 */

/* Sexy button animation */
.animated-button:hover { color: #FFF; }
.animated-button:hover:after { height: 450%; }
.animated-button { border: 1px solid rgba(0, 0, 0, 0.8); }
.animated-button:after { background: rgba(0, 0, 0, 0.95); transform: translateX(-50%) translateY(-50%) rotate(25deg); }
.btn-inverted { color: rgba(255, 255, 255, 0.8) !important; border: 1px solid white !important; }
.btn-inverted:after { background-color: white !important; }
.btn-inverted:hover { color: black !important; }
.animated-button {
	position: relative;
	display: block;
    float: left;
    clear: left;
    background: transparent;
	padding: 10px 20px;
	color: rgba(0, 0, 0, 0.9);
    font-family: "Roboto", "Lato", sans-serif;
	font-size: 20px;
	text-align: center;
    font-weight: 100;
    border-radius: 0;
	overflow: hidden;
    transition: all .4s cubic-bezier(.83,.19,.31,.97);
}

.animated-button:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
    transition: all .4s cubic-bezier(.83,.19,.31,.97) 0s;
}

/* Strikethrough on hover */
.strikethrough {
    position: relative;
    display: block;
    cursor: pointer;
}

.strikethrough:before, .strikethrough:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: #000;
}

.strikethrough:before {
    left: -1%;
}

.strikethrough:after {
    right: 1%;
    background: #000;
    transition: width 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.strikethrough:hover {
    color: #000;
}

.strikethrough:hover:before {
    background: #000;
    width: 102%;
    transition: width 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.strikethrough:hover:after {
    background: transparent;
    width: 102%;
    transition: 0s;
}