/* GLOBAL */

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    transition: .5s ease-in-out;
    color: rgba(0, 0, 0, 0.9);
}

body {
    background-color: white;
}

.x-divider {
    font-size: 35px;
    color: black;
    font-family: "Source Sans Pro", sans-serif;;
}

.title {
    color: black;
    letter-spacing: 4px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Work Sans", sans-serif;
}

.title > .text-muted {
    letter-spacing: 0;
    text-transform: initial;
    font-weight: 100;
    font-size: 18px;
    color: rgba(40, 40, 40, 0.9) !important;
}

section {
    height: 110%;
    position: relative;
    text-align: center;
}

/* NAV */
#nav-main {
    transition: .3s;
    background-color: transparent;
}

.navbar-brand {
    font-size: 30px;
    letter-spacing: -1px;
    font-weight: 900;
}

@media (max-width: 767px) {
    .nav-item {
        border-bottom: 1px solid #909090;
        margin: 3vh 0;
        padding: 0 2vh;
    }

    .navbar-nav {
        height: 100vh;
    }

}

.navbar-brand .quote {
    font-weight: 900;
}

.nav-item {
    font-size: 20px;
    transition: .3s;
}

.navbar-toggler {
    border: 0;
}

/* HERO */
#hero {
    /* white border */
    /* border-top: 2vh solid white; */
    /* border-bottom: 2vh solid white; */
    /* border-right: 1vw solid white; */
    /* border-left: 1vw solid white; */
}

#hero .title-main {
    font-weight: 100;
    line-height: 50px;
    font-family: "Karla", sans-serif;
    letter-spacing: -3px;
}

#hero .sub-title {
    color: rgba(0, 0, 0, 0.80);
    font-weight: 100;
    line-height: 25px;
    letter-spacing: -2px;
    font-family: "Work Sans", sans-serif;;
}

#hero-inner {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

#hero-text {
    transition: 0.4s;
}

#hero-bottom {
    position: absolute;
    bottom: 11%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.4s;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 100;
    font-family: "Work Sans", sans-serif;;
    line-height: 0;
}

#hero-bottom #scroll-text {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

#hero-bottom i {
    color: rgba(0, 0, 0, 0.8);
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    animation: bobUpDown 2s ease-in-out infinite;
    position: absolute;
}

/* ABOUT */
#about {
    transform: translateX(-10vw);
    opacity: 0;
    transition: 1s;
}

#about-inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

#about a {
    color: #147FCC;
    transition: 0.2s;
}

#about a:hover {
    color: #024c82;
    text-decoration: none;
    transition: 0.2s;
}

/* ANIMATIONS */
@keyframes bobUpDown {
    0% {
        bottom: 20px;
    }

    50% {
        bottom: 50px;
    }

    100% {
        bottom: 20px;
    }
}

.hvr-underline-from-center {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}
