#projects .sub-title, #projects .row { margin-bottom: 5rem; }
#projects .card-text { margin: 1rem; font-family: "Helvetica", "Roboto","Arial", sans-serif; }
#projects .card-img-top { border-radius: 0; height: 60%; }
#projects .card-link-icon { font-size: 40px; color: rgba(0, 0, 0, 0.7); transition: 0.2s ease-in-out; }
#projects .card-link-icon:hover { color: rgba(0, 0, 0, 0.9); }

#projects .card {
    color: rgba(0, 0, 0, 0.9);
    border: 0;
    border-radius: 0;
    background-color: #f2efea;
    max-width: 23rem;
    margin: auto;
    height: 25rem;
    padding: 0 0 15px 0;
}

@media (min-width: 768px) {
    #projects .card-movedown { transform: translateY(1rem); }
    #projects .card-moveup { transform: translateY(-1rem); }
}

@media (max-width: 768px) {
    #projects .card { margin-bottom: 2rem; }
    #projects .row { margin-bottom: 0; }
}

#projects .card-title {
    margin-top: 0.5rem;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

#projects .card-links {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
