/*
 * GLOBAL
 */

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*
 * MAIN
 */

#main-view {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#center-name {
    color: #000;
    position: absolute;
    font-size: 10vh;
    top: 50%;
    left: 50%;
    font-family: "Helvetica";
    font-style: italic;
    font-weight: bold;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

#center-name span {
    display: block;
    opacity: 0;
}

#center-name #first-name { animation: .8s cubic-bezier(.57,.52,.24,1) 1s 1 name-enter forwards; }
#center-name #last-name { animation: .8s cubic-bezier(.57,.52,.24,1) 1.3s 1 name-enter forwards; }

#center-image {
    width: 30vw;
    top: 50vh;
    display: block;
    animation: 1.2s cubic-bezier(.57,.52,.24,1) 0s 1 image-enter forwards;
    position: absolute;
    transform: translate(-50%, -50%);
    background: url("https://images.unsplash.com/photo-1504060765228-f97d1772ff9e?auto=format&fit=crop&w=1950&=80") no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (max-width: 1000px) {
    #center-image {
        top: 50vh;
        left: 50vw;
        animation: none;
        width: 90vw;
        height: 85vh;
    }

    #center-name {
        text-align: center;
    }
}

/*
 * ANIMATIONS
 */

@keyframes image-enter {
    0% {
        height: 0;
        left: 60vw;
    }

    100% {
        height: 42vw;
        left: 40vw;
    }
}

@keyframes name-enter {
    0% {
        opacity: 0;
        transform: translate(100%, 0);
    }

    100% {
        opacity: 100;
        transform: translate(0, 0);
    }
}

@keyframes gradient-load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}
